.bg-purple {
  background-color: #d595e4; /* Bootstrap's purple color */
  color: white;
}

.slider {
    height: 250px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(450px * 14);
    animation: scroll 10s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-450px * 7));
    }
}
.slide {
    height: 250px;
    width: 450px;
    display: flex;
    align-items: center;
    padding: 5px;
    perspective: 100px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 1s;
}

img:hover {
    transform: translateZ(20px);
}

.slider::before,
.slider::after {
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}